name: Java CI with Gradle

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        java: [ '17', '21', '24', '25-ea' ]

    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 1
        show-progress: false
    - name: Set up JDK
      uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: ${{ matrix.java }}
    - name: java -version
      run: java -version
    - name: ./gradlew build javadoc
      run: ./gradlew build javadoc
    - name: ./gradlew requireJavadoc
      run: ./gradlew requireJavadoc
    # TODO: This might be done by "./gradlew build"
    - name: ./gradlew spotlessCheck
      run: ./gradlew spotlessCheck
